/*--- Signup Header ---*/
.steps-hero [class *= 'step'].active {
    background-color: #5900CA;
}

.steps-hero {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

.steps-hero .step1,
.steps-hero .step2,
.steps-hero .step3 {
    border-radius: 50%;
    width: 75px;
    height: 75px;

    margin-inline: .5rem;

    background-color: rgb(199, 195, 195);
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*--- Left Right Buttons ---*/