#root {
  min-height: 100vh;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
}

/*--- Logo ---*/
.logo {
  width:125px
}




/*--- Dashboard Drag and Drop ---*/

.item:hover {
  cursor:move; 
  cursor:-webkit-grab; 
  cursor:-moz-grab; 
  cursor:grab;
}
